@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Upcoming Gigs</h2>


@foreach (var gig in Model)
{
    <div class="gig">
        <div>@gig.DateTime.ToString()</div>
        <div>@gig.Venue</div>
        <div>@gig.Genre.Name</div>
        <div>
            <a href="@Url.Action("Edit", "Gigs", new { id = gig.Id } )">
                Edit
            </a> |
            <a href="#" class="js-cancel-gig" data-gig-id="@gig.Id">
                Cancel
            </a>
        </div>
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-gig").click(function (e) {
                var link = $(e.target);

                bootbox.confirm("Are you sure you want to cancel the gig?", function (result) {
                    $.ajax({
                        method: "DELETE",
                        url: "/api/gigs/" + link.attr("data-gig-id")
                    })
                    .done(function () {
                        link.parents(".gig").fadeOut(function () {
                            $(this).remove()
                        });
                    })
                    .fail(function () {
                        alert("something went wrong");
                    });
                });
            });
        });
    </script>
}
