@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Upcoming Gigs</h2>

<div>
    @foreach (var gig in Model)
    {
        <div>@gig.DateTime.ToString()</div>
        <div>@gig.Venue</div>
        <div>@gig.Genre.Name</div>
        <div>
            <a href="@Url.Action("Edit", "Gigs", new { id = gig.Id } )">
                Edit
            </a> |
            <a href="#" class="js-cancel-gig" data-gig-id="@gig.Id">
                Cancel
            </a>
        </div>
    }
</div>
@section scripts
{
    <script>
        $(document).ready(function (){
            $(".js-cancel-gig").click(function(e){
                var link = e.target;
                alert("this link was clicked");  
            });
        });
</script>
}